.container {
    width: 80% !important;
}

.wg-about #profile .avatar {
    width: 360px;
    height: 360px;
}

@media (max-width: 767.98px) {
    .wg-about #profile .avatar {
        width: 240px;
        height: 240px;
    }
}
